@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/petshop")

    @RenderSection("styles", required: false)
}

<div class="row">
    <div class="col-md-6">
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <div class="col-md-6">
        <div id="sidebar">
            @RenderSection("sidebar", required: false)
        </div>
    </div>
</div>

@RenderSection("overlays", required: false)

@section scripts {
    @RenderSection("scripts", required: false)
}